**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gitattributes
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/npm-debug.log
**/obj
LICENSE
README.md
**/*.db
*.DotSettings*
*.editorconfig